html{
    font-size: 30px;
}

.calculator{
    position: relative;
    padding: 4px 7px 11px 12px;;
    width: 400px;
    height: 570px;
    margin: 1% auto 0 auto;
    background-color: #303a42;
    font-size: 0;
    border-radius: 10px;
}

.main{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.display{
    width: 98%;
    height: 15%;
    margin: 1% 1%;
    background-color: #00a8e2;
    font-size: 1rem;
    font-weight: bold;
    color: #303a42;
    text-align: right;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
}

.previous{
    font-size: .8em;
    height: 35%;
    margin: 0 ;
    padding-top: 5px;
    overflow-y: hidden;
}

.current{
    font-size: 1.6em;
    height: 55%;
    margin: 0;
    padding-bottom: 5px;
}

button{
    box-shadow: 0 5px #999;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.view, .test, .stop{
    text-decoration:none;
    color: #00a8e2;
    font-size: .5rem;
    padding: .5% 3%;
    margin-top: 1%;
}

.view:hover, .test:hover, .stop:hover, .barSelect{
    border: 1px solid #00a8e2;
    border-radius: 5px;
}

.menu{
    position: absolute;
    top: 34px;
    left: 12px;
    width: 140px;
    font-size: .5rem;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 5px;
}

.option{
    padding: 10%;
}

.option:hover{
    border: 1px solid #00a8e2;    
    opacity: .6;
    cursor: pointer;
}

.menuSelect:before{
    content: 'â— ';
}

.hide{
    display: none;
}

.left_side{
    display: inline-block;
    width: 73%;
    height: 81%;
    margin: 1% 1% 1% 0;
}

.clear{
    width: 100%;
    height: 18%;
    margin: 1.5% 0 2% 0;
}

.clearButton{
    width: 48%;
    height: 93.35%;
    margin: 2% 1% 5% 1%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #005b7f;
    color: #00a8e2;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px #0178a7;
}

.operators{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 78.5%;
    margin: 1.9% 0;
}

.operatorButton{
    width: 95%;
    height: 17.5%;
    margin: 5.5% 1% 5.9% 1%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: dodgerblue;
    color: #303a42;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px #0165c5;
}

.operators button:nth-child(4){
    height: 37.2%;
    margin: 5% 1% 0 1%;
}

.number{
    width: 100%;
    height: 80%;
}

.number > button{
    width: 31.3%;
    height: 21%;
    margin: 2% 1%;
    font-size: 1rem;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
}

.extra{
    text-align: left;
    padding: 1%;
}

.extra_extend{
    text-decoration:none;
    color: #00a8e2;
    font-size: .5rem;
}

.extraButtons{
    display: inline-block;
    width: 34%;
    height: 75%;
    margin: 2.5% 0;
    vertical-align: top;
}

.extraButton{
    width: 45%;
    height: 17.5%;
    margin: 1.5% 2% 4.3% 3%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: firebrick;
    color: #00a8e2;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px #960c0c;
}

/* .extraButtons > button:active{
    box-shadow: 0 3px #670808;
    transform: translateY(4px);
} */

.operators_extend{
    width: 16.66%;
    height: 76%;
}

.left_side_extend{
    width: 48%;
    height: 79%;
}

.calculator_extend{
    width: 575px;
}

.history{
    overflow-y: auto;
    display: inline-block;
    width: 35%;
    height: 93%;
    margin: 1% 0 2% 0;
    vertical-align: top;
    font-size: .7rem;
    text-align: right;
    border-radius: 10px;
    background-color: whitesmoke;
}

.history_element{
    word-wrap: break-word;
    padding: 2% 3% 2% 0;
}

.history_element:nth-child(odd) {
    background: lightgrey;
}

.calculator_history{
    width: 660px;
}

.calculator_history_extend{
    width: 910px;
}

.main_history{
    width: 63%;
    height: 97%;
    margin: 0.5% 0;
    margin-left: 2%;
}

.main_history_extend{
    height: 97%;
    width: 63%;
    margin: 0.5% 0;
    margin-left: 2%;
}

.hidden{
    display: none;
}

.history_extend{
    float: left;
    text-decoration:none;
    color: #00a8e2;
    font-size: .5rem;
}


.display_extend{
    height: 16%;
}

button:active{
    box-shadow: 0 3px #313f4a;
    transform: translateY(4px);
}

.active{
    box-shadow: 0 3px #313f4a;
    transform: translateY(4px);
    background-color: gold;
}

@media screen and (min-width: 400px) {

    .test{      
        display: none;  
    }
}

@media screen and (max-device-width: 1024px) {

    html{
        font-size: 60px;
    }

    .calculator{
        width: 90vw;
        height: 90vh;
        margin-top: 5vh;
    }

    .main_history, .main_history_extend {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    .history {
        display: none;
    }

    .extraButtons {
        display: none;
    }

    .left_side_extend {
        width: 73%;
        height: 81%;
    }

    .operators_extend {
        width: 25%;
        height: 78.5%;
    }

    .test{      
        display: inline;  
    }

    .view{
        display: none;
    }

}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
    
    html{
        font-size: 35px;
    }

    .history {
        display: inline-block;
        height: 90%;
    }

    .hidden{
        display: inline-block;
    }

    .main {
        display: inline-block;
        width: 63%;
        height: 97%;
        margin: 0.5% 0;
        margin-left: 2%;
    }

    .left_side {
        height: 80%;
        width: 48%;
    }

    .operators {
        height: 77%;
        width: 16.66%;
    }

    .extraButtons {        
        display: inline-block;
        height: 77%;
    }
}

@media screen and (max-device-height: 415px) and (orientation: landscape) {
    html{
        font-size: 30px;
    }

    .calculator{
        width: 68vw;
        height: 95vh;
        margin: 1vh auto;
    }

    .history {
        height: 93%;
    }

    .display{
        height: 20%;
    }

    .left_side {
        height: 78%;
    }

    .operators {
        height: 75%;
    }

    .extraButtons {
        height: 75%;
    }
}

@media screen and (min-device-width: 739px) and (max-device-height: 411px) and (orientation: landscape) {

    .calculator{
        width: 53vw;
    }
}