html{
    font-size: 30px;
}

.calculator{
    padding: 0.5vh 0.5vw 1.5vh 0.5vw;
    width: 416px;
    height: 624px;
    margin: 3% auto 0 auto;
    background-color: #303a42;
    font-size: 0;
    border-radius: 10px;
}

.main{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.display{
    width: 98%;
    height: 15%;
    margin: 1% 1%;
    background-color: #00a8e2;
    font-size: 1rem;
    font-weight: bold;
    color: #303a42;
    text-align: right;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 10px;
}

.previous{
    font-size: .8em;
    height: 35%;
    margin: 0 ;
    padding-top: 5px;
    overflow-y: hidden;
}

.current{
    font-size: 1.6em;
    height: 55%;
    margin: 0;
    padding-bottom: 5px;
}

button{
    box-shadow: 0 5px #999;
    cursor: pointer;
}

button:focus{
    outline: none;
}

.left_side{
    display: inline-block;
    width: 73%;
    height: 83%;
    margin: 1% 1% 1% 0;
}

.clear{
    width: 100%;
    height: 18%;
    margin: 1.5% 0 2% 0;
}

.clearButton{
    width: 48%;
    height: 93.35%;
    margin: 2% 1% 5% 1%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: #005b7f;
    color: #00a8e2;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px #0178a7;
}

/* .clear > button:active{
    box-shadow: 0 3px #006086;
    transform: translateY(4px);
} */

.operators{
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 80%;
    margin: 1.9% 0;
}

.operatorButton{
    width: 95%;
    height: 17.5%;
    margin: 5.5% 1% 5.9% 1%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: dodgerblue;
    color: #303a42;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px #0165c5;
}

/* .operators > button:active{
    box-shadow: 0 3px #014d96;
    transform: translateY(4px);
} */

.operators button:nth-child(4){
    height: 37.2%;
    margin: 5% 1% 0 1%;
}

.number{
    width: 100%;
    height: 80%;
}

.number > button{
    width: 31.3%;
    height: 21%;
    margin: 2% 1%;
    font-size: 1rem;
    font-weight: bolder;
    border: 0;
    border-radius: 10px;
}

.extra{
    text-align: right;
}

.extra_extend{
    text-decoration:none;
    color: #00a8e2;
    font-size: .5rem;
}

.extraButtons{
    display: inline-block;
    width: 34%;
    height: 79%;
    margin: 2.5% 0;
    vertical-align: top;
}

.extraButton{
    width: 45%;
    height: 17.5%;
    margin: 1.5% 2% 4.3% 3%;
    font-size: 1rem;
    font-weight: bolder;
    background-color: firebrick;
    color: #00a8e2;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 5px #960c0c;
}

/* .extraButtons > button:active{
    box-shadow: 0 3px #670808;
    transform: translateY(4px);
} */

.operators_extend{
    width: 16.66%;
}

.left_side_extend{
    width: 48%;
}

.calculator_extend{
    width: 38vw;
}

.history{
    overflow-y: auto;
    display: inline-block;
    width: 35%;
    height: 96%;
    margin: 1% 0 2% 0;
    vertical-align: top;
    font-size: .7rem;
    text-align: right;
    border-radius: 10px;
    background-color: whitesmoke;
}

.history_element{
    word-wrap: break-word;
    padding: 2% 3% 2% 0;
}

.history_element:nth-child(odd) {
    background: lightgrey;
}

.calculator_history{
    width: 39.6vw;
}

.calculator_history_extend{
    width: 60vw;
}

.main_history{
    width: 63%;
    height: 99%;
    margin: 0.5% 0;
    margin-left: 2%;
}

.main_history_extend{
    height: 97%;
    width: 63%;
    margin: 0.5% 0;
    margin-left: 2%;
}

.hidden{
    display: none;
}

.history_extend{
    float: left;
    text-decoration:none;
    color: #00a8e2;
    font-size: .5rem;
}

.test{
    float: left;
    text-decoration:none;
    color: #00a8e2;
    font-size: .5rem;
}

.display_extend{
    height: 16%;
}

button:active{
    box-shadow: 0 3px #313f4a;
    transform: translateY(4px);
}

.active{
    box-shadow: 0 3px #313f4a;
    transform: translateY(4px);
    background-color: gold;
}

@media screen and (max-device-width: 500px) {
    .calculator{
        width: 95vw;
        height: 90vh;
        margin-top: 5vh;
    }

    .calculator_extend{
        width: 85vw;
    }

    .calculator_history{
        width: 95vw;
    }
}